@import url(/src/fonts/fonts.css);
*{
    padding: 0;
    margin: 0;
}
body{
    height: 100vh;
    background: linear-gradient(
        to top,
        hsl(232, 19%, 15%) 0%,
        hsl(232, 19%, 15%) 60%,
        hsl(230, 17%, 14%) 60%,
        hsl(230, 17%, 14%) 100%
        
    );
    width:90%;margin:auto;min-width:600px;max-width:1440px
}
.square1 {
    border-radius: 5px;
    height: 250px;
    width: 250px;
    background: linear-gradient(
        to bottom,
        hsl(208, 92%, 53%) 0%,
        hsl(208, 92%, 53%) 3%,
        hsl(228, 28%, 20%) 3%,
        hsl(228, 28%, 20%) 100%
        
    );
 
    position: absolute;
    top:130px;
    left: 100px;
    
}
.square2 {
    border-radius: 5px;
    height: 250px;
    width: 250px;
    background: linear-gradient(
        to bottom,
        hsl(203, 89%, 53%) 0%,
        hsl(208, 92%, 53%) 3%,
        hsl(228, 28%, 20%) 3%,
        hsl(228, 28%, 20%) 100%
        
    );
    position: absolute;
   top:130px;
    left: 400px;
  
}
.square3 {
    border-radius: 5px;
    height: 250px;
    width: 250px;
    background: linear-gradient(
        to bottom,
        hsl(329, 70%, 58%) 0%,
        hsl(329, 70%, 58%) 3%,
        hsl(228, 28%, 20%) 3%,
        hsl(228, 28%, 20%) 100%
        
    );
    position: absolute;
    top:130px;
    left: 700px;
   
}
.square4 {
    border-radius: 5px;
    height: 250px;
    width: 250px;
    background: linear-gradient(
        to bottom,
        hsl(348, 97%, 39%) 0%,
        hsl(348, 97%, 39%) 3%,
        hsl(228, 28%, 20%) 3%,
        hsl(228, 28%, 20%) 100%
        
    );
    position: absolute;
    top:130px;
    left: 1000px;
  
  
}
h2{
   color: white; 
   position: relative;
   top: 90px;
   left:60px;
  font-size: 55px;
  font-family: 'Inter', sans-serif;
}

.WebContainer{
    width:100%;
    min-width:1440px;
    height:auto;
}

.rec1{
    border-radius: 5px;
    height: 125px;
    width: 250px;
    background-color:hsl(228, 28%, 20%) ;
    position: absolute;
    top:500px;
    left: 100px;
    text-align:center
}
.rec2{
    border-radius: 5px;
    height: 125px;
    width: 250px;
    background-color:hsl(228, 28%, 20%) ;
    position: absolute;
    top:650px;
    left: 100px;
    text-align:center
}
.rec3{
    border-radius: 5px;
    height: 125px;
    width: 250px;
    background-color:hsl(228, 28%, 20%) ;
    position: absolute;
    top:500px;
    left: 400px;
    text-align:center
}
.rec4{
    border-radius: 5px;
    height: 125px;
    width: 250px;
    background-color:hsl(228, 28%, 20%) ;
    position: absolute;
    top:650px;
    left: 400px;
    text-align:center
}
.rec5{
    border-radius: 5px;
    height: 125px;
    width: 250px;
    background-color:hsl(228, 28%, 20%) ;
    position: absolute;
    top:500px;
    left: 700px;
    text-align:center
}
.rec6{
    border-radius: 5px;
    height: 125px;
    width: 250px;
    background-color:hsl(228, 28%, 20%) ;
    position: absolute;
    top:650px;
    left: 700px;
    text-align:center
}
.rec7{
    border-radius: 5px;
    height: 125px;
    width: 250px;
    background-color:hsl(228, 28%, 20%) ;
    position: absolute;
    top:500px;
    left: 1000px;
    text-align:center
}
.rec8{
    border-radius: 5px;
    height: 125px;
    width: 250px;
    background-color:hsl(228, 28%, 20%) ;
    position: absolute;
    top:650px;
    left: 1000px;
    text-align:center
}
h1{
    position: absolute;
    top: 20px;
    left: 100px;
    font-family: 'Inter', sans-serif;
    color: white;
    font-size: 30px;
}

h3{
    position: absolute;
    top: 450px;
    left: 100px;
    font-family: 'Inter', sans-serif;
    color: white;
    font-size: 30px; 
}
h4{
    position: absolute;
    top: 40px;
    left: 100px;
    font-family: 'Inter', sans-serif;
    color: #979A9A;
    font-size: 14px; 
}
h5{
    position: absolute;
    top: 160px;
    left: 55px;
    font-family: 'Inter', sans-serif;
    color: #979A9A;
    font-size: 14px; 
}
h6{
    position: absolute;
    top: 200px;
    left: 100px;
    font-family: 'Inter', sans-serif;
    color: hsl(163, 72%, 41%);
    font-size: 14px; 
}
.logo{
    position: absolute;
    top: 40px;
    left: 70px;
  
}
h10{
    position: absolute;
    top: 200px;
    left: 100px;
    font-family: 'Inter', sans-serif;
    color: hsl(356, 69%, 56%);
    font-size: 14px; 
}
.arrow1{
    position: absolute;
    top: 205px;
    left: 85px;
}
h11{
    position: absolute;
    top: 30px;
    left: 20px;
    font-family: 'Inter',bold, sans-serif;
    
    color: #979A9A;
    font-size: 14px;    
}
h12{
    position: absolute;
    top: 75px;
    left: 20px;
    font-family: 'Inter',bold, sans-serif;
    
    color: white;
    font-size: 30px;   
}
h13{
    position: absolute;
    top: 90px;
    left: 180px;
    font-family: 'Inter',bold, sans-serif;
    
    color: hsl(163, 72%, 41%);
    font-size: 14px;   
}
h14{
    position: absolute;
    top: 90px;
    left: 180px;
    font-family: 'Inter',bold, sans-serif;
    
    color: hsl(356, 69%, 56%);
    font-size: 14px;   
}
.logo2{
    position: absolute;
    top: 30px;
    left: 180px;
}
.arrow2{
    position: absolute;
    top: 95px;
    left: 165px;
}
p{
    position: absolute;
    top: 50px;
    left: 100px; 
    font-family: 'Inter',bold, sans-serif;
    
    color: #979A9A;
    font-size: 14px;  
}

.switch {
    position: relative;
    top: 75px;
    left: 1130px;
    display: inline-block;
    width: 50px;
    height: 20px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    left: 4px;
    bottom: 2px;
    background-color: hsl(230, 17%, 14%);
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
      background-image: linear-gradient(to right, #40E80F, #10EEB5 );
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  h15{
    position: absolute;
    top: 75px;
    left: 1100px;
    font-family: 'Inter',bold, sans-serif;
    
    color: white;
    font-size: 15px;     
  }