.Jesse {
    content: "4";
}

Body{
    background-color: #1D2029;
    color: white;
    text-align: center;
}

#head{
    display: inline-block;
    width:31%;
    margin-right: 0;
    margin-left: 12.5%;
    text-align: left;
}

#toggle{
    display: inline-block;
    width:31%;
    margin-right: 12.5%;
    margin-left: 12.5%;
    text-align: right;
}

.card{
    width:15%;
    background-color: #252B43;
    border-radius: 4px;
    display: inline-block;
    margin: 2.5%;
}

.card:hover{
    filter: brightness(150%);
}

.card_big{
    border-top: solid;
}

.card_small{

}

.facebook{
    border-color: #1892FA;
}

.twitter{
    border-color: #1CA5F8;
}

.instagram{
    border-top: solid;
}

.youtube{
    border-color: #C7042B;
}

#overview{
    text-align: left;
    margin-left: 12.5%;
    padding: 0%;
}