body {
    background-color: #1e202a;
}

* {
    color:#ffffff;
    font-family:Inter;
    font-size:14px;
    font-weight:400, 700;
}

.soc-med-dashboard{
  width: 70%;
  margin: auto;
}

.soc-med-total-followers{
  width: 70%;
  margin: auto;
}

.Overview-today{
  width: 70%;
  margin: auto;
}

.dark-mode-button {
    color: #1db489;
    position: absolute;
    top: 50px;
    right: 530px;
    width: 60px;
    height: 34px;
  }
.dark-mode{
  top: 40px;
  right: 600px;
  position: absolute;

}
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #1db489;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: #1e202a;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  
#upper-card-soc-med{
  width: 70%;
  margin: auto;

}

.social-med-card-facebook {
    background-color: hsl(228, 28%, 20%);
    padding: auto;
    height: 200px;
    width: 250px;
    display: inline-block;
    overflow: auto;
    margin:80px 8px 30px 8px;
    text-align: center;
    justify-content: space-between;
    border-top: solid hsl(208, 92%, 53%);
    border-width: 2px;
}

.social-med-card-instagram {
    background-color: #252a41;
    padding: auto;
    height: 200px;
    width: 250px;
    display: inline-block;
    overflow: auto;
    margin:80px 8px 30px 8px;
    text-align: center;
    justify-content: space-between;
    border-top: solid;
    border-width: 2px;
    border-image-source: linear-gradient(45deg, #fdc468 50%, #df4996 100%);
    border-image-slice: 1;
}

.social-med-card-twitter {
    background-color: #252a41;
    padding: auto;
    height: 200px;
    width: 250px;
    display: inline-block;
    overflow: auto;
    margin:80px 8px 30px 8px;
    text-align: center;
    justify-content: space-between;
    border-top: solid hsl(203, 89%, 53%);
    border-width: 2px;

}

.social-med-card-youtube {
    background-color: #252a41;
    padding: auto;
    height: 200px;
    width: 250px;
    display: inline-block;
    overflow: auto;
    margin:80px 8px 30px 8px;
    text-align: center;
    justify-content: space-between;
    border-top: solid hsl(348, 97%, 39%);
    border-width: 2px;
}
.social-med-card-update {
    background-color: #252a41;
    padding: auto;
    height: 150px;
    width: 250px;
    display: inline-block;
    overflow: auto;
    margin: 10px 8px 10px 8px;
    text-align: center;
    margin-right:9.5px;
}

.topcards{
    display: flex;
    justify-content: center;
    align-items: center;
}

.overview-cards{
  display: block;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  grid-column-gap: 5px;
  width: 70%;
  margin: auto;
}

.updates-up {
    color:#1db489;
}

.updates-down {
    color:#dc414c;
}
.logo{
    display: inline-block;
    margin: 1px 10px
}
